/* set the styles */

.password_second_confirm {
  font-weight: bold;
}

.s3-disclaimer {
  font-weight: bold;
}
.s3-hide {
  display: none;
}

.dropbox-disclaimer {
  font-weight: bold;
}
.dropbox-hide {
  display: none;
}

.dropbox-auth-button-hide {
  display: none;
}

.dropbox-revoke-auth-button-hide {
  display: none;
}

.webdav-disclaimer {
  font-weight: bold;
}
.webdav-hide {
  display: none;
}
