/* set the styles */

.password_second_confirm {
  font-weight: bold;
}

.s3-disclaimer {
  font-weight: bold;
}
.s3-hide {
  display: none;
}

.webdav-disclaimer {
  font-weight: bold;
}

.webdav-hide {
  display: none;
}
